@font-face {
  font-family: mochiy;
  src: url(../../font/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf);
}

@font-face {
  font-family: icons;
  src: url(../../font/Mochiy_Pop_P_One/MaterialIconsOutlined-Regular.otf);
}
