// Colors
$clr1: #ebecf0; //GROUP BACKGROUND
$clr2: #026aa7; //MAIN-HEADER BACKGROUND
$clr3: #172b4d; //FONT COLOR BODY
$clr4: #5e6c84; //ALTERNATIVE FONT COLOR
$clr5: #7fff00;
$clr6: #f2f6fa;
$clr7: #fff; //TASK BACKGROUND
// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;

// Header Footer Height
$main-header-height: 44px;
$sub-header-height: 52px;

//GROUP WIDTH
$group-width: 272px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
