.board-group {
  display: flex;
  flex-direction: column;
  .modal-base {
    position: relative;
  }
  > * {
    padding: 0 0px;
    margin-bottom: 0 0 0 0;
  }

  .list-header {
    box-sizing: border-box;
    display: flex;
    min-height: 40px;
    justify-content: space-between;

    .no-background {
      position: relative;
      height: 32px;
      padding: 6px;
      margin-left: 2px;
      &:not(.action) {
        width: 32px;
        margin: 4px 0;
      }
      svg {
        height: 16px;
        width: 16px;
        color: #6b778c;
      }
    }
    .group-title-container {
      margin: 0;
      padding: 0;

      .title-input {
        word-wrap: break-word;
        padding: 4px 8px;
        margin: 5px 0;
        min-width: 50px;
        color: #172b4d;
        font-family: inherit;
        font-weight: 600;
        min-height: 28px;
        line-height: 20px;
        font-size: 14px;
        border: none;
        background-color: inherit;
        transition: 0.1s;

        &:focus {
          outline: 2px solid #0079bf;
          border-radius: 3px;
        }
      }
      .no-background {
        margin: 8px;
      }
    }
  }

  .task-list {
    min-height: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 290px);
  }

  .group-title {
    color: $clr4;

    span {
      text-decoration: underline;
    }
  }
  .task-container {
    border-radius: 3px;
  }

  .card-composer {
    display: flex;
    align-items: center;
    width: 256px;
    text-align: left;
    height: 30px;
  }
}

@media (min-width: $break-normal) {
  .board-group {
    .task-list {
      min-height: 1px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - 220px);
    }
  }
}
