.group-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  // gap: 10px;

  > * {
    margin: 0 4px;
    width: 272px;
    background-color: $clr1;
  }

  ul {
    padding: 0;
  }
}

.group-container {
  border-radius: 3px;
  padding: 8px;
  padding-top: 0;
}

ul {
  padding-left: 8px;
}
