.filter-by-modal {
  max-height: 80vh;
  .filter-section {
    margin-bottom: 10px;
  }
}

@media (min-width: $break-normal) {
  .filter-by-modal {
    position: absolute;
    top: 50px;
    transform: translate(-50%, -0%);
  }
}
