.invite-to-board {
  color: $clr4;
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .board-members {
    .members-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .member {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
