.items-progress-bar {
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  .progress-bar {
    position: relative;
    width: 100%;
    background-color: #091e4214;
    border-radius: 4px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    .completed {
      border-radius: inherit;
      height: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 0.5s;
    }
  }
  .progress-bar-percents {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-inline-start: -37px;
    font-size: 11px;
  }
}
