.labels-modal {
  cursor: default;

  .labels-color-list {
    > * {
      cursor: pointer;
      height: 32px;
      border-radius: 3px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      gap: 5px;
      .label-container {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .vi {
          display: flex;
          align-self: center;
        }
      }
      .edit {
        color: $clr4;
        border-radius: 3px;
        &:hover {
          background-color: #091e420a;
        }
      }
    }
    > *:not(:last-child) {
      margin-bottom: 5px;
    }
    .edit-label-txt-container {
      width: 100%;
      form {
        width: 100%;
      }
    }
  }
}

// .date-picker-modal {
//   padding: 8px;
// }

// .dates-title {
//   font-size: 16px;
//   text-align: center;
//   border-bottom: 1px solid #091e4221;
// }
