.task-btns {
  .config-title {
    align-self: flex-start;
  }

  .task-btn {
    color: $clr4;
    position: relative;
    width: 168px;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > * {
      margin-inline-start: 8px;
    }
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #091e420a;
    transition: 0.2s;
    &.delete {
      background-color: #b04632;
      color: #fff;
    }
  }

  .task-btn:hover {
    background-color: #d4d4d4;
  }
  .task-btn.delete:hover {
    background-color: #c06c6c;
  }

  .txt {
    color: $clr3;
    display: flex;
    align-self: center;
    justify-content: center;
    text-transform: capitalize;
    &::before {
      font-family: icons;
      margin-inline-end: 5px;
    }
    &.members {
      &::before {
        content: '\e7ff';
      }
    }
    &.labels {
      &::before {
        content: '\e867';
      }
    }
    &.checklist {
      &::before {
        content: '\e834';
      }
    }
    &.date {
      &::before {
        content: '\e8b5';
      }
    }
    &.attachment {
      &::before {
        content: '\e226';
      }
    }
    &.cover {
      &::before {
        content: '\e40b';
      }
    }
    &.archive {
      &::before {
        content: '\e1a1';
      }
    }
    &.remove {
      color: #fff;
      &::before {
        content: '\e15b';
      }
    }
  }
}
