.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  min-width: 200px;
  max-width: calc(100% - 200px);
  margin-inline-end: 10px;
  > * {
    margin-top: 0;
    position: relative;
  }
}

@media (max-width: $break-narrow) {
  .info {
    max-width: 100%;
  }
}
