.task-details-container {
  position: fixed;
  inset: 0;
  background-color: #000000a3;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;

  .task-details {
    border-radius: 3px;
    position: relative;
    max-width: 768px;
    margin-bottom: 100px;
    min-height: 600px;
    background-color: #f4f5f7;
    top: 0 + $main-header-height + $sub-header-height + 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 5;
    > * {
      font-size: 1em;
      color: $clr3;
    }

    .close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $clr4;
      position: absolute;
      height: 40px;
      width: 40px;
      left: 100%;
      top: 0;
      transform: translate(calc(-100% - 8px), +8px);
      background-color: #091e420a;
      z-index: 5;
      border: none;
      border-radius: 50%;
      &:hover {
        background-color: #d4d4d4;
      }
    }
    .task-main-container {
      padding: 16px 16px 0px 60px;

      .task-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        > * {
          h3 {
            margin: 0 0 5px 0;
            font-size: 0.75rem;
            color: $clr4;
          }
        }
      }
    }
  }
}

@media (min-width: $break-normal) {
  .task-details {
    margin-bottom: 0;
  }
}
