.cover-modal {
  > * {
    .cover-color-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      padding: 0;

      > * {
        cursor: pointer;
        height: 32px;
        margin-bottom: 5px;
        border-radius: 3px;
        color: #fff;
        display: flex;
        justify-content: flex-end;
      }
    }
    .file-input {
      display: none;
    }
  }
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
