.search-form {
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 32px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px;

  input {
    background: none;
    border: none;
    color: $clr7;
    outline: none;
    font-size: inherit;
  }
  ::placeholder {
    color: $clr7;
  }
}
