.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  background-color: rgba(226, 213, 213, 0.9);
  height: 100vh;
  border-inline-start: 1px solid #e5e5e5;
  width: 200px;
  transform: translateX(100%);
  transition: transform 0.6s;
  &.open {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    transform: translateX(0);
  }
}
