.task-cover {
    .color-input {
        width: 304px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        
    }
    
    .color-input>*:not(:last-child) {
        margin-inline-end: 0.5rem;
    }
    
    .color-input .color-value {
        width: 50px;
        height: 32px;
        margin-bottom:8px ;
        border-radius: 3px;
        cursor: pointer;
       
        transition: 0.3s ease-in-out;
    }

    .color-input .color-value:hover {
        transform: scale(1.1);
    }

}